body {
    font-family: 'Quicksand', sans-serif;
    font-size: 2em;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 100vw;
    background-color: #703acf;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 455px;
    width: 365px;
    border-radius: 15px;
    background-color: #613659;
}

.body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    height: 425px;
    width: 335px;
    border-radius: 1rem;
}

.display-container, .key-container {
    background-color: #767A76;
}

.display-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    width: 335px;
    padding-right: 16px;
    border-radius: 5px;
}

.display {
    display: flex;
    justify-content: flex-end;
    width: 280px;
    background-color: #E3E8E9;
    border-radius: 5px;
}

.numbers {
    padding-right: 10px;
}

.key-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 80px;
    cursor:context-menu;
    user-select: none;
    border-radius: 5px;
}

.key {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 70px;
    background-color: #B1D8B7;
    border-radius: 1rem;
}

.key-hover {
    background-color: #7B9780;
}

.click {
    background-color: #90ee90;
}

.backspace {
    color: #6F283B;
}