body {
    font-family: Tahoma, sans-serif;
    color: #383838;
    background-color: #EAE7FA;
}

body,
.container,
.display,
.key {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.container {
    max-width: 330px;
    flex-wrap: wrap;
    background-color: #9e9effb3;
}

.display {
    background-color: #e9eef1;
}

.key {
    background-color: #e9eef159;
}

.display {
    font-size: 2.7rem;
    width: 100%;
    justify-content: end;
    text-align: right;
    padding: 0.5em 0.2em;
    margin: 1.2rem;
    word-break: break-word;
}

.key {
    font-size: 2rem;
    width: 18%;
    margin: 0.8rem 0.571rem;
    cursor: pointer;
    user-select: none;
}