body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 100vw;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    width: 415px;
}

.display, .keys {
    box-sizing: border-box;
    border: 1px solid black;
}

.display {
    height: 100px;
    width: 415px;
}

.keys {
    height: 80px;
    width: 100px;
}